/* Author: Jenson */

// 通用 style
.dentco-link {
  color: $primary;
  text-decoration: underline;
}

// dentco container
.dentco-container {
  width: 100%;
  padding-right: 10% !important;
  padding-left: 10% !important;
}

// nav header
.dentco-nav-header {
  height: 65px;
  box-shadow: $navbar-box-shadow;
  background: #33B6B0;

  .divider-vertical {
    height: 20px;
    margin: 8px 10px;
    vertical-align: middle;
    border-left: 1px solid #f2f2f2;
  }

  .header-logo {
    margin-left: 20px;
  }

  .header-actions {
    .action-link {
      padding-right: 10px;
      a {
        color: white !important;
      }

      .link-btn {
        background: white !important;
        color: $text-color-2;
      }
    }
  }
}

/* dentco nav footer */
.dentco-nav-footer {
  margin-top: 60px;
  margin-bottom: 60px;

  /* md */
  @media screen and (min-width: 992px) {
    margin-top: 100px;
    margin-bottom: 30px;
    height: 200px;
  }

  .footer-container {
    position: relative;
    height: 100%;

    .footer-title {
      font-size: 1.2rem;
      color: $text-color-1;
      font-weight: bold;
      margin-top: 30px;
      /* md */
      @media screen and (min-width: 992px) {
        margin-top: 0px;
      }
    }

    .footer-text {
      font-size: 0.825rem;
      color: $text-color-3;
    }
  
    .stick-bottom {
      position: absolute;
      bottom: 0;
      left: 15px;
    }

    .footer-actions {
      margin-top: 5px;
      margin-bottom: 20px;
      /* md */
      @media screen and (min-width: 992px) {
        margin-top: 20px;
      }

      .action-item {
        color: $text-color-2;
        font-size: 0.9rem;
        cursor: pointer;

        .item-icon {
          border-radius: 3px;
        }
      }
    }
  }

  
}

// dentco information block
.dentco-block {
  margin-top: 20px;

   /* md */
  @media screen and (min-width: 992px) {
    margin-top: 50px;
  }

  .dentco-block-title {
    color: #424242;
    font-size: 1.5rem;
    font-weight: 550;
    letter-spacing: 1.2px;
    margin-bottom: 15px;
  }

  // 通用 card style
  .dentco-normal-card {
    box-shadow: $card-box-shadow;
    padding: 15px 0;
    margin-bottom: 20px;

    .normal-card-title {
      padding: 0 15px;
      color: $text-color-1;
    }
    .normal-card-text {
      padding: 0 15px;
      margin-top: 8px;
      letter-spacing: 1px;

      .card-text-description  {
        font-size: 0.625rem;
      }
    }

    .normal-card-actions {
      padding: 10px 15px;
    }

    .fluid {
      padding: 0 0 !important;
    }
  }
}

// dentco doctor card
.dentco-doctor-card {
  box-shadow: $card-box-shadow;
  padding: 15px;
  margin-bottom: 20px;
  min-height: 150px;

  /* md */
  @media screen and (min-width: 992px) {
    min-height: 260px;
  }

  .doctor-card-header {
    .header-img img {
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    .header-info {
      padding-left: 0;

      .info-name {
        .name-label {
          color: $primary;
          margin-right: 5px;
          font-weight: bold;
          font-size: 1.3rem;
        }
        .position-label {
          color: $text-color-2;
          font-size: 1.3rem;
        }
      }

      .info-rating {
        .rating {
          height: 30px !important;
          box-shadow: none;
          display: inline-block !important;
          padding-left: 0 !important;

          .b-rating-star  {
            padding: 0 0.1em;
          }
        }
      }

      .info-judgement {
        font-size: 0.8rem;
        color: $text-color-2;
        margin-top: 2px;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .doctor-card-content {
    margin-top: 10px;
    min-height: 75px;

    .content-treatments {
      .treatment-badge {
        font-size: 0.825rem;
        margin-right: 5px;
        margin-bottom: 8px;
      }
    }
  }

  // anon doctor card
  .anon-doctor-card-header {
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* md */
    @media screen and (min-width: 992px) {
      min-height: 150px;
    }

    .header-title {
      color: $primary;
      margin-right: 5px;
      font-weight: bold;
      font-size: 1.3rem;
      padding-bottom: 10px;
    }
    .header-description {
      color: $text-color-2;
      font-size: 1.1rem;
    }
  }

  .anon-doctor-card-actions {
    width: 100%;
    min-height: 80px;
    text-align: center;
    .action-btn {
      width: 80%;
      padding-top: 10px;
      padding-bottom: 10px;
      letter-spacing: 1.2px;
    }
  }
}