// 超過隱藏內容
@each $var in $ellipsis-scales {
  .ellipsis-#{$var} {
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: normal;  
    display: -webkit-box;  
    -webkit-box-orient: vertical;  
    -webkit-line-clamp: $var; /*最多顯示幾行*/  
  }
}

// text decoration
.text-clean {
  text-decoration: none !important;
}

// hyperlink
.hyperlink {
  @include hyperlink;
}

// 強制換行
.change-line { 
  white-space: pre-wrap;
  /* word-wrap: break-word; */
}

